# API Configuration
VITE_API_URL=http://localhost:8000

# Keycloak Configuration
VITE_KEYCLOAK_URL=http://localhost:8081
VITE_KEYCLOAK_REALM=neura-agents

# APP Config
VITE_APP_NAME=Neura Agents

# Analytics Config
VITE_UMAMI_URL=http://localhost:3009
VITE_UMAMI_PUBLIC_ID=79a58590-b62d-4ddf-8603-6c32ec9d9e3d
VITE_UMAMI_DASHBOARD_ID=e40c24a0-268f-46b0-9f71-701e7e48ccd3